<h1>Welcome, join our Auction Site!</h1>

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label      :name %><br>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.label      :email %><br>
    <%= f.text_field :email, placeholder: "name@domain.com" %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
