<h1><%= @product.title %></h1>
<br>
<h4>Title: <%= @product.title %> </h2>
<h4>Description: <%= @product.description %> </h2>
<h4>Deadline: <%= @product.deadline %> </h2>
<h4>Sold by: <%= @user.name %></h4>
